<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HowToUseMasonry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70EC40D91CF9E4B20008C015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EC40F21CF9E4B20008C015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EC40FD1CF9E4B20008C015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
